<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<div id="tableau">
			<% if (liste) { %>
				<table>
				<% for (var i = 0; i < liste.length; i++) { %>
					<tr><td><%= liste[i].nom %></td><td><%= liste[i].prenom %></td><td><%= liste[i].telephone %></td><td><%= liste[i].ville %></td><td><%= liste[i].codepostal %></td></tr>
				<% } %>
				</table>
			<% } %>
		</div>
		<form action="http://127.0.0.1:8081/ajouter" method="POST">
			<label>Nom</label><input type="text" name="nom" />
			<label>Prénom</label><input type="text" name="prenom" />
			<label>Téléphone</label><input type="text" name="telephone" />
			<label>Ville</label><input type="text" name="ville" />
			<label>Code postal</label><input type="text" name="codepostal" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>